<template>
  <section class="hero is-warning is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Error 404:
        </h1>
        <h2 class="subtitle">
          Page not found.
        </h2>
      </div>
    </div>
  </section>
</template>
