<template>
  <div>
    <h1 class="title">
      <b-icon icon="warehouse"></b-icon> <span>Firestore</span>
    </h1>
    <rdn-data driver="firestore"></rdn-data>
  </div>
</template>
<script>
import RdnData from "@/components/RdnData";

export default {
  components: { RdnData }
};
</script>
