<template>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third-desktop is-offset-one-third-desktop">
            <h1 class="is-size-2 has-text-centered title">RDN Interview</h1>
            <div class="card">
              <b-loading
                :is-full-page="false"
                :active="$store.state.isLoading"
              ></b-loading>
              <transition name="fade" mode="out-in">
                <div class="card-content" :key="'sign-in'" v-if="!isSignup">
                  <h2 class="title is-size-4 has-text-black">Login</h2>
                  <login-form></login-form>
                  <p class="mt-2 has-text-centered has-text-info">
                    <a @click="isSignup = true">New? Create an Account</a>
                  </p>
                  <hr />
                  <login-google></login-google>
                </div>
                <div class="card-content" :key="'sign-up'" v-else>
                  <h2 class="title is-size-4 has-text-black">
                    Sign Up
                    <a class="has-text-grey back" @click="isSignup = false"
                      >Back</a
                    >
                  </h2>
                  <signup-form></signup-form>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import LoginForm from "@/components/LoginForm";
import SignupForm from "@/components/SignupForm";
import LoginGoogle from "@/components/LoginGoogle";

export default {
  name: "Home",
  components: { LoginGoogle, SignupForm, LoginForm },
  data: () => {
    return {
      isSignup: false
    };
  }
};
</script>

<style lang="scss">
.back {
  float: right;
  text-decoration: underline;
}
</style>
