<template>
  <form v-on:submit.prevent="handleRequest(submit)">
    <b-message type="is-danger" v-if="errorMessage">
      {{ errorMessage }}
    </b-message>
    <b-loading :is-full-page="false" :active="isLoading"></b-loading>
    <b-field label="Email" label-position="inside">
      <b-input
        type="email"
        v-model="form.email"
        placeholder="kylo.ren@firstorder.net"
      >
      </b-input>
    </b-field>
    <b-field label="Password" label-position="inside">
      <b-input
        v-model="form.password"
        type="password"
        placeholder="**********"
        maxlength="255"
      ></b-input>
    </b-field>
    <b-button native-type="submit" class="is-fullwidth is-info"
      ><span>Login</span><b-icon icon="sign-in-alt"></b-icon
    ></b-button>
  </form>
</template>

<script>
import { $auth } from "@/firebase";
import requestHandler from "@/mixins/requestHandler";

export default {
  name: "LoginForm",
  mixins: [requestHandler],
  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    submit() {
      return $auth.signInWithEmailAndPassword(
        this.form.email,
        this.form.password
      );
    }
  }
};
</script>
