<template>
  <div>
    <b-button
      class="is-google"
      @click="handleRequest(login)"
      :disabled="isLoading"
    ></b-button>
  </div>
</template>

<script>
import { $auth, firebase } from "@/firebase";
import requestHandler from "@/mixins/requestHandler";

export default {
  name: "LoginGoogle",
  mixins: [requestHandler],
  data() {
    return {
      googleProvider: null,
      displayErrorToast: false
    };
  },
  mounted() {
    this.googleProvider = new firebase.auth.GoogleAuthProvider();
  },
  methods: {
    login() {
      return $auth.signInWithPopup(this.googleProvider);
    }
  }
};
</script>

<style lang="scss" scoped>
.is-google {
  background: url("~@/assets/btn_google_signin_dark_normal_web.png");
  width: 191px;
  height: 46px;
  padding: 0;
  border: none;
  margin: 0 auto;
  display: block;
  overflow: hidden;

  // Fix to pre-load focus/hover images
  &:after {
    content: url("~@/assets/btn_google_signin_dark_pressed_web.png")
      url("~@/assets/btn_google_signin_dark_focus_web.png");
    position: absolute;
    left: 0;
    top: -50px;
  }

  &:focus {
    background: url("~@/assets/btn_google_signin_dark_focus_web.png");
  }

  &:hover {
    background: url("~@/assets/btn_google_signin_dark_pressed_web.png");
  }
}
</style>
