<template>
  <div>
    <div class="is-clearfix">
      <div class="is-pulled-right">
        <b-field
          label="Filter by Load ID..."
          label-position="on-border"
          grouped
        >
          <b-input
            placeholder="Filter by Load ID"
            type="search"
            icon="filter"
            :disabled="$store.state.isLoading"
            icon-right="times-circle"
            icon-right-clickable
            @icon-right-click="clearFilter"
            v-model="filters.id"
          ></b-input>
          <p class="control">
            <b-button
              type="is-info"
              :disabled="$store.state.isLoading"
              @click="load({ id: filters.id })"
              ><b-icon icon="filter"></b-icon
            ></b-button>
          </p>
        </b-field>
      </div>
    </div>
    <b-table
      :data="data"
      :loading="$store.state.isLoading"
      narrowed
      detailed
      :show-detail-icon="true"
    >
      <b-table-column field="id" label="Load ID" v-slot="props">
        {{ props.row.id }}
      </b-table-column>
      <b-table-column field="sn" label="Shipper" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model="form.sn"></b-input
        ></template>
        <template v-else>
          {{ props.row.sn }}
        </template>
      </b-table-column>
      <b-table-column field="pdt" label="PickUp" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model="form.pdt"></b-input
        ></template>
        <template v-else>
          {{ props.row.pdt }}
        </template>
      </b-table-column>
      <b-table-column field="ddt" label="Delivery" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model="form.ddt"></b-input
        ></template>
        <template v-else>
          {{ props.row.ddt }}
        </template>
      </b-table-column>
      <b-table-column label="Units" v-slot="props" numeric>
        {{ props.row.u && Array.isArray(props.row.u) ? props.row.u.length : 0 }}
      </b-table-column>
      <b-table-column field="ol" label="Origin" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model="form.ol.l"></b-input
        ></template>
        <template v-else>{{ props.row.ol ? props.row.ol.l : null }}</template>
      </b-table-column>
      <b-table-column field="dl" label="Destination" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model="form.dl.l"></b-input
        ></template>
        <template v-else>
          {{ props.row.dl ? props.row.dl.l : null }}
        </template>
      </b-table-column>
      <b-table-column field="d" label="Distance" v-slot="props" numeric>
        <template v-if="form.id === props.row.id"
          ><b-input :disabled="isLoading" v-model.number="form.d"></b-input
        ></template>
        <template v-else>{{
          props.row.d ? props.row.d.toFixed(2) : null
        }}</template>
      </b-table-column>
      <b-table-column field="in" label="Instructions" v-slot="props">
        <template v-if="form.id === props.row.id"
          ><b-input
            :disabled="isLoading"
            type="textarea"
            v-model="form.in"
          ></b-input
        ></template>
        <template v-else>{{ props.row.in }}</template>
      </b-table-column>
      <b-table-column label="Edit" v-slot="props">
        <div style="min-width: 75px">
          <b-button
            :disabled="isLoading"
            class="is-warning is-small"
            @click="editRow(props.row)"
            v-if="form.id !== props.row.id"
            ><b-icon icon="edit"></b-icon
          ></b-button>
          <template v-else>
            <b-button
              :disabled="isLoading"
              class="is-danger is-small mr-1"
              @click="cancelEdit"
              ><b-icon icon="times"></b-icon
            ></b-button>
            <b-button
              :disabled="isLoading"
              class="is-success is-small"
              @click="save"
              ><b-icon icon="save"></b-icon
            ></b-button>
          </template>
        </div>
      </b-table-column>
      <template slot="detail" slot-scope="props">
        <div>
          <h3 class="subtitle">Vehicles</h3>
          <b-table :data="props.row.u" narrowed>
            <b-table-column field="vin" label="VIN" v-slot="props">
              {{ props.row.vin }}
            </b-table-column>
            <b-table-column field="year" label="Year" v-slot="props">
              {{ props.row.yr }}
            </b-table-column>
            <b-table-column field="md" label="Make" v-slot="props">
              {{ props.row.md }}
            </b-table-column>
            <b-table-column field="mk" label="Model" v-slot="props">
              {{ props.row.mk }}
            </b-table-column>
          </b-table>
        </div>
      </template>
      <template slot="empty">
        <p class="has-text-centered">No results found.</p>
      </template>
    </b-table>
    <div class="has-text-right">
      <hr />
      <b-button
        class="mr-1"
        @click="load({ paginate: -1 })"
        :disabled="backDisabled"
        ><b-icon icon="arrow-left"></b-icon
      ></b-button>
      <b-button
        @click="load({ paginate: 1 })"
        :disabled="data.length !== $store.state.resultsLimit"
        ><b-icon icon="arrow-right"></b-icon
      ></b-button>
    </div>
  </div>
</template>

<script>
import requestHandler from "@/mixins/requestHandler";
import { $firestore, $realtimeDb } from "@/firebase";

export default {
  name: "RdnData.vue",
  mixins: [requestHandler],
  data() {
    return {
      filters: {
        id: null
      },
      form: {
        ol: {},
        dl: {}
      }
    };
  },
  props: {
    driver: {
      required: true,
      validator: value => {
        return value === "firestore" || "realtime-database";
      }
    }
  },
  computed: {
    data() {
      if (this.isFirestore) return this.$store.state.firestoreData;

      if (this.isRealtime) return this.$store.state.realtimeData;

      return null;
    },
    isFirestore() {
      return this.driver === "firestore";
    },
    isRealtime() {
      return this.driver === "realtime-database";
    },
    backDisabled() {
      if (this.isFirestore) return this.$store.state.firestorePage <= 1;

      if (this.isRealtime) return this.$store.state.realtimePage <= 1;

      return null;
    }
  },
  mounted() {
    this.load(null);
  },
  methods: {
    load(payload) {
      if (this.isFirestore) this.$store.dispatch("bindFirestoreData", payload);

      if (this.isRealtime) this.$store.dispatch("bindRealtimeData", payload);
    },
    editRow(row) {
      this.form = JSON.parse(JSON.stringify(row));
      this.form.d = parseFloat(this.form.d);
    },
    cancelEdit() {
      this.form = {
        ol: {},
        dl: {}
      };
    },
    save() {
      let $scope = this;

      if ($scope.isFirestore) {
        $scope.handleRequest($scope.saveFirestore);
      } else if ($scope.isRealtime) {
        $scope.handleRequest($scope.saveRealtime);
      }
    },
    saveFirestore() {
      let $scope = this;
      return $firestore
        .collection("loads")
        .doc(this.form.id)
        .set(this.form)
        .then(() => {
          $scope.cancelEdit();
          $scope.$buefy.toast.open({
            message: "Firestore record saved successfully.",
            type: "is-success"
          });
        });
    },
    saveRealtime() {
      let $scope = this;
      return $realtimeDb
        .ref()
        .child("loads")
        .child(this.form.id)
        .set(this.form)
        .then(() => {
          $scope.cancelEdit();
          $scope.$buefy.toast.open({
            message: "Realtime Database record saved successfully.",
            type: "is-success"
          });
        });
    },
    clearFilter() {
      this.filters.id = null;
      this.load(null);
    }
  }
};
</script>
