<template>
  <div>
    <b-navbar shadow type="is-info">
      <template slot="brand">
        <b-navbar-item tag="router-link" to="/dashboard/firestore">
          RDN Interview
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="router-link" to="/dashboard/firestore">
          <b-icon icon="warehouse"></b-icon><span>Firestore</span>
        </b-navbar-item>
        <b-navbar-item tag="router-link" to="/dashboard/realtime-db">
          <b-icon icon="database"></b-icon><span>Realtime Database</span>
        </b-navbar-item>
        <b-navbar-dropdown>
          <template slot="label">
            <b-image
              class="is-hidden-mobile is-hidden-tablet"
              v-if="$store.state.user && $store.state.user.photoURL"
              :src="$store.state.user.photoURL"
              rounded
              style="margin-right: 5px;"
            ></b-image
            >{{ welcomeText }}
          </template>
          <b-navbar-item @click="handleRequest(logout)">
            Logout
          </b-navbar-item>
        </b-navbar-dropdown>
      </template>
    </b-navbar>
    <section class="section">
      <div class="container">
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </div>
    </section>
  </div>
</template>

<script>
import { $auth } from "@/firebase";
import requestHandler from "@/mixins/requestHandler";

export default {
  name: "Dashboard.vue",
  mixins: [requestHandler],
  computed: {
    welcomeText() {
      if (this.$store.state.user) {
        let identifier = this.$store.state.user.displayName
          ? this.$store.state.user.displayName
          : this.$store.state.user.email;
        return `Welcome, ${identifier}!`;
      }

      return "Welcome!";
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("unbindFirestoreData");
      this.$store.dispatch("unbindRealtimeData");

      return $auth.signOut();
    }
  }
};
</script>
